<div class="container mx-auto py-10 flex flex-wrap">
  <div class="p-4 flex flex-col justify-start items-start md:mr-10">
    <div class="relative overflow-hidden rounded product-details">
      <img mat-card-image [src]="selectedImage" alt="Product image" class="w-full h-full object-cover" />
    </div>
    <div class="flex flex-wrap justify-start mt-5">
      <div class="border rounded p-1 m-1" *ngFor="let img of product?.imageUrls">
        <img class="cursor-pointer object-cover product-img-small" [src]="img.file" (click)="selectedImage = img.file"
          alt="Product image" />
      </div>
    </div>
  </div>
  <div class="md:w-1/3 p-4 flex flex-col mt-0 md:mt-12">
    <div>
      <h1 style="color: #0d134e" class="fw-bold">{{ product?.title }}</h1>
    </div>
    <div *ngIf="currentUserApproved">
    <div *ngIf="product!.instokeOfCrate >= 1">
    <div class="mt-4" *ngIf="!quantitiesCrate.get(product!.productId)?.message">
      <span class="text-blue-300">Op voorraad of inhoud:</span>
      <span class="ml-1 text-blue-300">{{ product!.instokeOfCrate}}</span>
    </div>


    <div class="mt-4" *ngIf="quantitiesCrate.get(product!.productId)?.message">
      <span class="ml-1 text-red-300">Het maximum is bereikt</span>
    </div>
    <div class="mt-4">
      <p>
        <span>Fust({{product?.crateQuantity}})</span>
      </p>
    </div>
    <div class="flex items-center mt-0">
      <div class="product-quantity-selector flex items-center border rounded-full mb-2 sm:mb-0 h-10 mr-8"
        style="border-color: #0d134e">
        <button mat-icon-button (click)="onRemoveQuantityCrate(product!.productId)" class="px-3">
          <mat-icon style="font-size: 16px;">remove</mat-icon>
        </button>
        <span class="mx-1 text-xs">{{ quantitiesCrate.get(product!.productId)?.crate || 1 }}</span>
        <button mat-icon-button
          (click)="onAddQuantityCrate(product!.productId,  product!.instokeOfCrate, product!.crateQuantity)"
          class="px-3">
          <mat-icon style="font-size: 16px;">add</mat-icon>
        </button>
      </div>
      <button (click)="onAddCrateToCart(product!,product!.cratePrice)"
        class="w-auto h-10 flex items-center justify-center px-4 bg-[#4CAF50] hover:bg-[#43A047] text-white rounded-full transition-colors duration-300 mt-2 sm:mt-0">
        {{ product!.cratePrice| currency : "EUR" : "symbol" : "1.2-2" }}
      </button>
    </div>
  </div>

  <div *ngIf="product!.instokeOfPiece >= 1">
    <div class="mt-8 mb-4 " *ngIf="!quantitiesPiece.get(product!.productId)?.message && !product!.kilo">
      <span class="text-blue-300">Op voorraad of stuk:</span>
      <span class="ml-1 text-blue-300">{{ product!.instokeOfPiece }}</span>
    </div>
    <div class="mt-8 mb-4 " *ngIf="!quantitiesPiece.get(product!.productId)?.message && product!.kilo">
      <span class="text-blue-300">Op voorraad of Kilo's:</span>
      <span class="ml-1 text-blue-300">{{ product!.instokeOfPiece }}</span>
    </div>

    <div class="mt-8" *ngIf="quantitiesPiece.get(product!.productId)?.message">
      <span class="ml-1 text-red-300">Het maximum is bereikt</span>
    </div>
    <p class="mt-8" *ngIf="!product!.kilo">
      <span>Stuk(1)</span>
    </p>
    <p class="mt-8" *ngIf="product!.kilo">
      <span>Kilo({{product!.kilo}})</span>
    </p>
    <div class="flex items-center mt-4">
      <div class="product-quantity-selector flex items-center border rounded-full mb-2 sm:mb-0 h-10 mr-8"
        style="border-color: #0d134e">
        <button mat-icon-button (click)="onRemoveQuantityPiece(product!.productId)" class="px-3">
          <mat-icon style="font-size: 16px;">remove</mat-icon>
        </button>
        <span class="mx-1 text-xs">{{ quantitiesPiece.get(product!.productId)?.piece || 1 }}</span>

        <button mat-icon-button  (click)="onAddQuantityPiece(product!.productId, product!.instokeOfPiece)" class="px-3">
          <mat-icon style="font-size: 16px;">add</mat-icon>
        </button>
      </div>
      <button (click)="onAddPieceToCart(product!, product!.piecePrice)"
        class="w-auto h-10 flex items-center justify-center px-4 bg-[#4CAF50] hover:bg-[#43A047] text-white rounded-full transition-colors duration-300 mt-2 sm:mt-0">
        {{ product!.piecePrice | currency : "EUR" : "symbol" : "1.2-2" }}
      </button>
    </div>
   </div>
   </div>
    <!-- Share feature start -->
    <div class="flex items-center mt-4">
      <div class="flex-none mr-2 text-lg">Share</div>
      <!-- Facebook Icon -->
      <a href="https://www.facebook.com/sharer/sharer.php?u=https://https://sofanimarket.com/product/{{product?.productId}}"
        target="_blank">
        <div
          class="w-6 h-6 mr-2 bg-[#0D134E] hover:bg-blue-900 text-white rounded-full flex items-center justify-center">
          <i class="fa fa-facebook" style="font-size: 0.7rem"></i>
        </div>
      </a>
      <!-- Twitter Icon -->
      <a href="https://twitter.com/intent/tweet?text=Kijk%20eens%20this%20geweldig%20product!&url=https://https://sofanimarket.com/product/{{product?.productId}}"
        target="_blank">
        <div
          class="w-6 h-6 mr-2 bg-[#0D134E] hover:bg-blue-900 text-white rounded-full flex items-center justify-center">
          <i class="fa fa-twitter" style="font-size: 0.7rem"></i>
        </div>
      </a>
      <a href="https://api.whatsapp.com/send?text=kijk%20eens%20this%20geweldig%20{{product?.title}}%20op%20sofani%20market:%20http:https://sofanimarket.com/product/{{product?.productId}}"
        target="_blank">
        <div class="w-6 h-6 bg-[#0D134E] hover:bg-blue-900 text-white rounded-full flex items-center justify-center">
          <i class="fa fa-whatsapp" style="font-size: 0.7rem"></i>
        </div>
      </a>
    </div>
  </div>
</div>
<div style="background-color: #f9f8fe">
  <div class="container mx-auto px-4 py-10">
    <h2 class="text-2xl font-bold mb-4">Product Description</h2>
    <p>{{ product?.description }}</p>
  </div>
</div>

<div class="container mx-auto relative related-product px-4 py-10">
  <div class="container mx-auto">
    <h2 class="text-2xl font-bold mb-4">Related Products</h2>
    <app-products-slider [products]="relatedProducts" context="productDetails"
      (productClicked)="changeProductDetails($event)"></app-products-slider>
  </div>
</div>


<!-- <div (click)="onAddToWishlist()" class="mt-4">
      <div (click)="onAddToWishlist()" class="mt-4">
        <span class="w-10 h-10 flex items-center justify-center rounded-full text-[#4CAF50] transition-all duration-300"
          [ngClass]="{'hover:w-10 hover:h-10': !isInWishlist()}"
          [style.background-color]="isInWishlist() ? 'transparent' : hovered ? '#FF3EB2' : 'transparent'"
          (mouseover)="hovered = true" (mouseout)="hovered = false">
          <mat-icon *ngIf="!isInWishlist()" aria-hidden="false" class="icon-style">favorite_border</mat-icon>
          <mat-icon *ngIf="isInWishlist()" aria-hidden="false" class="icon-style"
            style="color: rgb(241, 97, 97)">favorite</mat-icon>

        </span>
      </div>

    </div> -->

<!-- <div class="mt-4">
      <p class="text-xl" *ngIf="product?.kilo">{{ product?.kilo }} : Kilos</p>
      <p class="text-xl ">Categories: {{ product?.categoryName }}</p>
    </div> -->