<div class="container mx-auto px-4 pt-1">
  <div class="row">
    <div class="mx-auto flex justify-between items-center">
      <!-- Sale information -->
      <div class="inline-block text-xs pt-2">
        <div class="hidden md:flex items-center space-x-4 mr-8 mt-2">
          <p class="text-sm"><a href="#">06 - 243 015 20</a></p>
          <div class="border-l h-5 mx-2 mb-2"></div>
          <p class="text-xs">{{ 'customer_service' | translate }}</p>
        </div>
        <!-- {{ "WELCOME" | translate }} -->
      </div>
      <!-- Currency and language selectors -->
      <div>
        <ul class="list-inline flex items-center">
          <li class="list-inline-item"></li>
          <li>
            <div>
              <button
                mat-button
                [matMenuTriggerFor]="languageMenu"
                class="text-xs"
              >
                {{ currentLanguage }}<mat-icon>arrow_drop_down</mat-icon>
              </button>
              <mat-menu #languageMenu="matMenu">
                <button mat-menu-item (click)="switchLanguage('nl')">
                  <div class="flex items-center" style="width: 100%">
                    <div class="flex-none">
                      <img
                        [src]="'../../../assets/image/' + Nederland"
                        alt="Icons"
                        class="w-50 h-4"
                        style="vertical-align: middle"
                      />
                    </div>
                    <div
                      class="flex-grow"
                      style="vertical-align: middle; padding-left: 8px"
                    >
                      Nederlands
                    </div>
                  </div>
                </button>
                <button mat-menu-item (click)="switchLanguage('en')">
                  <div class="flex items-center" style="width: 100%">
                    <div class="flex-none">
                      <img
                        [src]="'../../../assets/image/' + English"
                        alt="Icons"
                        class="w-50 h-4"
                        style="vertical-align: middle"
                      />
                    </div>
                    <div
                      class="flex-grow"
                      style="vertical-align: middle; padding-left: 8px"
                    >
                      English
                    </div>
                  </div>
                </button>
              </mat-menu>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
