<div class="tab-pane anime-tab active show" role="tabpanel">
  <div class="flex flex-wrap -mx-4">
    <div class="container mx-auto px-4 py-6">
      <div class="grid grid-cols-2 md:grid-cols-3 gap-4">
        <div *ngFor="let product of products">
          <article class="wish-product relative shadow-lg transition-all duration-300">
            <!-- Product Image -->
            <div class="product-image relative">
              <a [routerLink]="['/product', product.productId]">
                <img [src]="product.imageUrls[0].file" class="w-full h-64 object-cover" />
              </a>
              <div class="absolute top-0 left-0 bg-[#4CAF50] text-white p-2">
                Aanbieding
              </div>
            </div>
            
          
            <!-- Product Details -->
            <div class="product-caption mt-4 cursor-pointer p-4">
              <div class="flex justify-between items-center mb-2">
                <p class="product-name text-lg font-bold">
                  {{ product.title }}
                </p>
              </div>
              
              <!-- Meta Info: Land van Oorsprong, Kwaliteitsklasse, etc. -->
              <!-- <div class="product-meta mb-4">
                <p><strong>Land van Oorsprong:</strong> {{ product.categoryName }}</p>
                <p><strong>Kwaliteitsklasse:</strong> 1</p>
              </div> -->
              <hr>

              <div class="mt-2">
                <span class="text-red-300">Op voorraad:</span>
                <span class="ml-1 text-red-300">{{ product.piece }}</span>
              </div>
              
              
              <div class="mt-4" *ngIf="quantities.get(product.productId)?.message">
                <span class="ml-1 text-red-300">Het maximum is bereikt</span>
              </div>
             
              <div class="mt-4">
                <span>Fust({{product.crate}})</span>
            </div>            
              <!-- Quantity Selector for Crate -->
              <div class="flex flex-col sm:flex-row justify-between items-center mb-4 mt-2 ">
                <div class="product-quantity-selector flex items-center border rounded-full mb-2 sm:mb-0 h-10" style="border-color: #0d134e">
                  <button mat-icon-button (click)="onRemoveQuantity(product.productId, 'crate')" class="px-3">
                    <mat-icon style="font-size: 18px;">remove</mat-icon>
                  </button>
                  <p class="mx-2">{{ quantities.get(product.productId)?.crate || 1 }}</p>
                  <button mat-icon-button (click)="onAddQuantity(product.productId, 'crate', product.piece, product.crate)" class="px-3">
                    <mat-icon  style="font-size: 18px;">add</mat-icon>
                  </button>
                </div>
                <button (click)="onAddCrateToCart(product,product.cratePrice)"
                class="w-auto h-10 flex items-center justify-center px-4 bg-[#4CAF50] hover:bg-[#43A047] text-white rounded-full transition-colors duration-300 mt-2 sm:mt-0">
                €{{ product.cratePrice }}
              </button>
              
              </div>

              <p class="mt-8">
                <span>Stuk(1)</span>
              </p>
              <!-- Quantity Selector for Piece -->
              <div class="flex flex-col sm:flex-row justify-between items-center mb-4 mt-2 ">
                <div class="product-quantity-selector flex items-center border rounded-full mb-2 sm:mb-0 h-10" style="border-color: #0d134e">
                  <button mat-icon-button (click)="onRemoveQuantity(product.productId, 'piece')" class="px-3">
                    <mat-icon style="font-size: 16px;">remove</mat-icon>
                  </button>
                  <span class="mx-1 text-xs">{{ quantities.get(product.productId)?.piece || 1 }}</span>
                
                  <button mat-icon-button (click)="onAddQuantity(product.productId, 'piece', product.piece, product.crate)" class="px-3">
                    <mat-icon style="font-size: 16px;" >add</mat-icon>
                  </button>
                </div>
                <button (click)="onAddPieceToCart(product, product.piecePrice)"
                class="w-auto h-10 flex items-center justify-center px-4 bg-[#4CAF50] hover:bg-[#43A047] text-white rounded-full transition-colors duration-300 mt-2 sm:mt-0">
                  €{{ product.piecePrice }}
                </button>
              </div>
            </div>
          </article>
          
        </div>
      </div>
    </div>
  </div>
</div>



<!-- <article class="wish-product relative shadow-lg transition-all duration-300">
  <div class="product-image relative">
    <a>
      <img [src]="product.imageUrls[0].file" class="w-full h-64 object-cover" />
    </a>
    <div
      class="absolute top-0 left-0 w-full h-full bg-black bg-opacity-40 flex items-center justify-center opacity-0 hover:opacity-100 transition-opacity duration-300">
      <button (click)="onAddToCart(product)"
        class="w-10 h-10 flex items-center justify-center mx-1 p-1 bg-white hover:bg-gray-500 text-gay-500 hover:text-white rounded-full">
        <mat-icon>shopping_cart</mat-icon>
        <i class="addCart-icon"></i>
      </button>
      <button
        class="w-10 h-10 flex items-center justify-center mx-1 p-1 bg-white hover:bg-blue-500 text-blue-500 hover:text-white rounded-full"
        (click)="navigateToProductDetails(product.productId)">
        <mat-icon>visibility</mat-icon>
      </button>
      <div (click)="onAddToWishlist(product.productId)"
        class="w-10 h-10 flex items-center justify-center mx-1 p-1 bg-white hover:bg-red-500 text-red-500 hover:text-white rounded-full cursor-pointer">
        <mat-icon *ngIf="!isInWishlist(product.productId)" aria-hidden="false"
          aria-label="Example heart icon">favorite_border</mat-icon>
        <mat-icon *ngIf="isInWishlist(product.productId)" aria-hidden="false"
          aria-label="Example heart icon">favorite</mat-icon>
      </div>
    </div>
  </div>
  <div class="product-caption mt-4 cursor-pointer">
    <div class="flex justify-between items-center">
      <div class="product-manufacturer">
        <p class="text-lg">{{ product.categoryName }}</p>
      </div>
    </div>
    <h4 class="product-name mt-2">
      <p>{{ product.title }}</p>
    </h4>
    <p class="product-price mt-2">
      <span>Fust{{product.crate}}</span>
    </p>
    <div class="flex justify-between items-center">
      <div class="flex items-center border rounded-full" style="border-color: #0d134e">
        <button mat-icon-button (click)="onRemoveQuantity(product.productId, 'crate')" class="px-3">
          <mat-icon>remove</mat-icon>
        </button>
        <span class="mx-2">{{ quantities.get(product.productId)?.crate || 1 }}</span>
        <button mat-icon-button (click)="onAddQuantity(product.productId, 'crate')" class="px-3">
          <mat-icon>add</mat-icon>
        </button>
      </div>
      <div class="ml-4">
        <button (click)="onAddCrateToCart(product,product.cratePrice)"
          class="w-auto h-10 flex items-center justify-center px-4 bg-purple-600 hover:bg-purple-700 text-white rounded-full transition-colors duration-300">
          €{{ product.cratePrice}}
        </button>
      </div>

    </div>
    <p class="product-price mt-8">
      <span>stuk{{product.piece}}</span>
    </p>
    <div class="flex justify-between items-center">
      <div class="flex items-center border rounded-full" style="border-color: #0d134e">
        <button mat-icon-button (click)="onRemoveQuantity(product.productId, 'piece')" class="px-3">
          <mat-icon>remove</mat-icon>
        </button>
        <span class="mx-2">{{ quantities.get(product.productId)?.piece || 1 }}</span>
        <button mat-icon-button (click)="onAddQuantity(product.productId, 'piece')" class="px-3">
          <mat-icon>add</mat-icon>
        </button>
      </div>
      <div class="ml-4">
        <button (click)="onAddPieceToCart(product, product.piecePrice)"
          class="w-auto h-10 flex items-center justify-center px-4 bg-purple-600 hover:bg-purple-700 text-white rounded-full transition-colors duration-300">
          €{{ product.piecePrice}}
        </button>
      </div>
    </div>
  </div>
</article> -->